.main-top{
    font-weight: bold;
    display: flex;
        flex-basis: 100%;
        align-items: center;
        font-size: 130px;
        margin: 8px 0px;
}
.main-top::after{
    content: "";
        flex-grow: 1;
        background: black;
        height: 3px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
}
.introduce{
    display: inline-block;
    font-size: 30px;
    padding:50px 0 50px 0;
    width : 75%;
}
.connect{
    display: flex;
    width: 200px;
    float: right;
        flex-basis: 70%;
        align-items: center;
        font-size: 70x;
        margin: -20px 0px;
} 
.connect span{
    font-size: 30px;
}
.connect::after{
    content: "";
        flex-grow: 1;
        background: black;
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
}
.main {
    margin-top: 20px;
}
.main li{
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    display: block;
    border-top: 1px solid gray;
    border-bottom: 1px solid red;
}
.main li:hover{
    background-color:rgba(0,0,0,0.05);
}
.skill span{
    font-size: 50px;
}