p{
    width: 70px;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 30px;
    margin-top: -5px;
    background-color: white;
    position: absolute;
    color: grey;
    font-size: 30px;
}
.main-top{
    font-weight: bold;
    display: flex;
        flex-basis: 100%;
        align-items: center;
        font-size: 130px;
        margin: 8px 0px;
}
.main-top::after{
    content: "";
        flex-grow: 1;
        background: black;
        height: 3px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
}
.introduce{
    display: inline-block;
    font-size: 25px;
    padding:50px 0 50px 0;
    width : 75%;
}
.main {
    margin-top: 20px;
}
.main li{
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    display: block;
    border-top: 1px solid gray;
    border-bottom: 1px solid red;
}
.main li:hover{
    background-color:rgba(0,0,0,0.05);
}
.skill{
    box-sizing: border-box;
    display: inline-block;
    height: 120px;
    text-align: center;
    letter-spacing: 20px;
    width: 45%;
    margin: 10px 0;
    padding: 25px 0 10px 0;
    border:1px solid lightgray;
    border-radius: 30px;
}
.skill img{
    width: 75px;
    height: 75px;
    border-radius: 30%;
    object-fit: fill;
}
.skill hr{
    width:50%;
    height: 3px;
    border: 0;
    background-color: grey;
    margin: 10px 0;
    padding: 0;
}
.connect{
    white-space: pre-line;
    float: right;
    box-sizing: border-box;
    line-height: 27px;
    height: 120px;
    text-align: left;
    width: 45%;
    margin: 10px 0;
    padding: 25px 0 10px 40px;
    border:1px solid lightgray;
    border-radius: 30px;
}
.connect p{
    width: 140px;
    margin-left: -10px;
    margin-top: -38px;
}
.connect span{
    padding-bottom: 5px;
    font-weight: normal;
}
.connect img{
    margin-bottom: -5px;
    margin-right: 10px;
    width:20px;
    height: 20px;
}